<p>
  Sophisticated Living Published an article on a house we finished last year.
  The family added a sizable addition to accommodate their many guests.
  They wanted a home that reflected a casual lifestyle but with a punch of luxury.
</p>
<p>
  Cornerstone designed and directed the architectural interiors as well as the interior furnishings.
</p>
<p>
  The article starts on page 68.
  <br/>
</p>

