%h2
  No Publications have been added. Click                                                                    |
  #{link_to "here", refinery.new_publications_admin_publication_path, 'data-no-turbolink' => true, style:"color:red"} |
  to add one                                                                                                |