.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        = "Publications"
  - unless @publications.empty?
    - @publications.each do |publication|
      %row
        .col-md-4
          = link_to (image_fu publication.photo, '670x870#c', class: 'img-responsive'), publication.url
        .col-md-8
          = publication.description.html_safe
  - else
    %row
      .col-md-12
        %h2
          No Publications have been added.
  %hr