- content_for :body_content_title do
  = @publication.publication
- content_for :body do
  %section
    %h1 Publication
    %p
      = raw @publication.publication
  %section
    %h1 Article Title
    %p
      = raw @publication.article_title
  %section
    %h1 Date
    %p
      = raw @publication.date
  %section
    %h1 Url
    %p
      = raw @publication.url
  %section
    %h1 Photo
    %p
      = image_fu @publication.photo, nil
  %section
    %h1 Description
    %p
      = raw @publication.description
- content_for :side_body do
  %aside
    %h2= t('.other')
    %ul#publications
      - @publications.each do |publication|
        %li
          = link_to publication.publication, refinery.publications_publication_path(publication)
= render '/refinery/content_page'
