%ul
  - if ::Refinery::Publications::Admin::PublicationsController.searchable?
    %li
      = render '/refinery/admin/search', :url => refinery.publications_admin_publications_path
  %li
    = action_label :add, refinery.new_publications_admin_publication_path, t('.create_new')
  - if !searching? && ::Refinery::Publications::Admin::PublicationsController.sortable? && ::Refinery::Publications::Publication.many?
    %li
      = action_label :reorder,
        refinery.publications_admin_publications_path,
        t('.reorder', what:  "Publications"), id: 'reorder_action'
      = action_label :reorder_done,
        refinery.publications_admin_publications_path,
        t('.reorder_done', what: "Publications"), id: 'reorder_action_done', class: 'hidden'
