= form_for [refinery, :publications_admin, @publication] do |f|
  = render '/refinery/admin/error_messages',
    :object => @publication,
    :include_object_name => true
  .field
    = f.label :publication
    = f.text_field :publication, :class => 'larger widest'
  .field
    = f.label :article_title
    = f.text_field :article_title
  .field
    = f.label :date
    = f.date_select :date, discard_day: true
  .field
    = f.label :url
    = f.text_field :url, class: 'widest'
  .field
    = f.label :photo
    = render '/refinery/admin/image_picker',
      :f => f,
      :field => :photo_id,
      :image => @publication.photo,
      :toggle_image_display => false
  .field
    = render '/refinery/admin/wysiwyg',
      :f => f,
      :fields => [:description],
      :object => "publications/publication"
  = render '/refinery/admin/form_actions', :f => f,
    :continue_editing => false,
    :delete_title => t('delete', :scope => 'refinery.publications.admin.publications.publication'),
    :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @publication.publication)
- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
