%li{:class => "clearfix record #{cycle("on", "on-hover")}", :id => "#{dom_id(publication)}"}
  %span.title
    = publication.publication
  %span.actions
    = action_icon(:preview, refinery.publications_publication_path(publication), t('.view_live_html'))
    = action_icon(:edit,    refinery.edit_publications_admin_publication_path(publication), t('.edit') )
    = action_icon(:delete,  refinery.publications_admin_publication_path(publication), t('.delete'),
      { class: "cancel confirm-delete",
      data: {confirm: t('message',  scope: 'refinery.admin.delete', title: publication.publication)}}  )
