= render 'refinery/admin/search_header', :url => refinery.publications_admin_publications_path
.pagination_container
  - if @publications.any?
    = render 'publications'
  - else
    %p
      - if searching?
        = t('no_results', :scope => 'refinery.admin.search')
      - else
        %strong
          = t('.no_items_yet')
