%ul#test_list
  = render :partial => 'publication', :collection => @publications
= render '/refinery/admin/sortable_list',
  :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true
