%section#records
  = render 'records'
%aside#actions
  = render 'actions'
= render '/refinery/admin/make_sortable', options: {tree: false, sortable_list: '#test_list'} if !searching? and ::Refinery::Publications::Admin::PublicationsController.sortable? and ::Refinery::Publications::Publication.many?
